<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> IRIS FLOWER DETECTION </h1><br>
        
        <form method="POST", action="http://127.0.0.1:5000/predict">
           <b> Id :  <input type="text", name='Id', placeholder="enter 1"> <br><br>
            SepalLengthCm :  <input type="text", name='SepalLengthCm', placeholder="enter 2"> <br><br>
            SepalWidthCm :  <input type="text", name='SepalWidthCm', placeholder="enter 3"> <br><br>
            PetalLengthCm : <input type="text", name='PetalLengthCm', placeholder="enter 4"> <br><br>
            PetalWidthCm : <input type="text", name='PetalWidthCm', placeholder="enter 4"> <br><br>
            <br></b>
            <input type="submit" , value='predict!'>
        </form>

        
        
    </center>

    </body>
</html>